* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko", sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
}

#container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
    color: #fff;
    background: none;
}

#container ul li a {
    text-decoration: none;
    color: #fff;
}

#hobby pre{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    font-family: "Ubuntu Condensed", sans-serif;
}